<!DOCTYPE html>
<html>
<head>
    <title>UGifs</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }
    body {
        background-color: #121212;
        text-align: center;
    }
    h1 {
        font-size: 40px;
        color: #fff;
        font-family: sans-serif;
        padding: 20px;
    }
    form {
        padding-bottom: 40px;
    }
    input[name="quantity"] {
        height: 1px;
    }
    img {
        width: 250px;
        height: 250px;
    }
</style>
<body>
    <h1>UGifs</h1>
    <form id="search_form" method="get" action="/" >
      <input type="number" name="quantity" placeholder="Quantity" required="" / >
      <input type="text" name="input" placeholder="Search term" required="" />
      <input type="submit" value="Search" />
    </form>
    <% for i in 0..@limit - 1 %>
        <img src="<%= @content[i] %>" alt=" " >
    <% end %>
</body>
</html>
